@model Domain.Entities.Department

@{
    ViewData["Title"] = "Edit Department";
}

<h2>Edit Department</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="DepCode" />

    <div class="form-group">
        <label asp-for="DepDesc"></label>
        <input asp-for="DepDesc" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SectorCode"></label>
        <input asp-for="SectorCode" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GeneralManeg"></label>
        <input asp-for="GeneralManeg" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ManegSupCode"></label>
        <input asp-for="ManegSupCode" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
